@import "src/styles.scss";

.topup-component{
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.warning-message{
  @include warning();
}
  .account-detail{
    padding: 1em;
    .label-display{
      @include labelDisplay();
    }
    .word-wrap{
      @include wordWrap();
    }
  }
  .submit-button{
    margin-top:1em;
  }
}