.header{
    height: 50px;
    background-color: #015DB9;
    margin-bottom: 30px;
    padding-top: 6px;
    .hamburger {
      width: 35px;
      height: 4px;
      background-color: white;
      margin: 6px 0;
      margin-left: 15px;
    }
}